<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C868.Properties.Settings.U04yKmConnectionString" connectionString="server=3.227.166.251;user id=U04yKm;password=53688383395;CharSet=utf8; pooling=false;persistsecurityinfo=True;database=U04yKm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>